@model dynamic

@{
    ViewBag.Title = "Comic Tale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head
{
    <script type="text/javascript" src="~/Scripts/Editor.js"></script>
    <script type="text/javascript" src="~/Scripts/EditTileDialog.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.signalR-1.1.1.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>

    <script type="text/javascript">

	    $(function() {
		    ComicTales.Init('@Model.StoryId');
	    });

    </script>
}

@section Toolbar
{
    <div style="padding: 12px; display: inline-block;">
        <span data-bind="visible: isLoading">
            <img src="~/Content/imgs/ajax-loader.gif"/>
            Loading...
        </span>
    </div>
    
    <div data-bind="visible: hasUpdates" style="position: absolute; right: 8px; top: 8px;">
        <img src="~/Content/imgs/bell.png" style="margin-bottom: -8px;" />
        <a href="javascript:;" data-bind="click: refresh">Refresh</a>
    </div>
}

<div>
    
    <!-- ko foreach: tiles -->
    <div class="list-item">
        
        <img data-bind="attr: { src: imageUrl }"/>

        <div class="list-item-actions">
            <div class="list-item-action" data-bind="click: $root.editTile"><img src="~/Content/imgs/edit.png"/></div>
            <div class="list-item-action" data-bind="click: $root.deleteTile"><img src="~/Content/imgs/delete.png"/></div>
        </div>
    </div>
    <!-- /ko -->

    <div class="list-item list-item-add" data-bind="click: addNewTile">
        <div><img src="~/Content/imgs/add.png"/></div>

    </div>
    
</div>

<div style="display: none;">
    <div id="editTileDialog">
        <div id="takePicture" style="display: none;">
            
            <div style="margin: 20px auto; width: 600px; text-align: center;">
                
                <h2>How do you want to take a picture?</h2>

                <div class="inline roundborder6 clickable">
                    <img src="~/Content/imgs/camera.png"/>
                </div>

                <div class="inline roundborder6 clickable">
                    <img src="~/Content/imgs/upload.png"/>
                </div>
                
                <h2>Camera or Upload?</h2>

            </div>

        </div>
            
        <div id="takePictureFromCamera" style="display: none;">
                
        </div>

        <div id="upload" style="display: none;">
            <div style="margin: 40px auto; width: 600px; text-align: center;">
                
                <h2>Select Image to Upload</h2>
                <input type="file" />
                <br/>
                <br/>
                <button>Submit</button>
            </div>
        </div>

        <div id="uploadProgress" style="display: none;">
            <div style="margin: 40px auto; width: 600px; text-align: center;">
                <h2>Uploading...</h2>
                <img src="~/Content/imgs/progress-bar.jpg"/>
            </div>
                
        </div>
            
        <div id="edtiTile">
            <div style="padding-right: 25px; position: relative; height: 470px;">
                    
                <img src="~/Upload/tile1.png"/>
                <div style="position: absolute; right: 0; top: 0; width: 250px; height: 400px; background: rgb(237, 237, 237); border: 1px solid darkgray; border-radius: 6px; padding: 4px;">
                    <h3 style="margin: 0">Toolbox</h3>
                    <div class="toolbox">
                        <img src="~/Content/imgs/balloon1.png" />
                        <img src="~/Content/imgs/balloon2.png" />
                        <img src="~/Content/imgs/balloon3.png" />
                        <img src="~/Content/imgs/balloon4.png" />

                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button style="font-size: 32px;">Save</button>
            </div>
        </div>


    </div>
</div>