@model dynamic

@{
    ViewBag.Title = "Comic Tale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <script type="text/javascript" src="~/Scripts/CreateStory.js"></script>

    <script type="text/javascript">

        $(function () {
            ComicTales.InitStory();
        });

    </script>
}

<!-- HTML Templates -->
<div id="createNewStory">
    <input type="text" data-bind="value: storyName, valueUpdate: 'afterkeydown'" maxlength="256" />
    <button data-bind="click: createStory, enable: storyName().length > 3">
        Create New Story
    </button>
</div>
