<!DOCTYPE html>

<html>
    
    <head>
        <title>@ViewBag.Title</title>
        
        <link type="text/css" rel="stylesheet" href="~/Content/Site.css"/>
        <link type="text/css" rel="stylesheet" href="~/Content/themes/base/jquery-ui.css"/>
        
        <script src="~/Scripts/jquery-2.0.3.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
        <script src="~/Scripts/knockout-2.3.0.js"></script>
        <script src="~/Scripts/knockout.extensions.js"></script>
        <script src="~/Scripts/resumable.js" ></script>
        @RenderSection("Head", false)
    </head>
    
    
    <body>
        <div id="body">
            <div id="header">
                <h1 id="title">Comic Tale</h1>
            </div>
            <div id="toolbar">
                @RenderSection("Toolbar", false)
            </div>
            <div id="content">
                @RenderBody()
            </div>
            <div id="footer"></div>
        </div>
    </body>
</html>