@model dynamic

@{
    ViewBag.Title = "Comic Tale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="~/Scripts/Editor.js"></script>
<script type="text/javascript">

    $(function() {
        ComicTales.Init();
    });

</script>

<div>
    
    <!-- ko foreach: tiles -->
    <div class="list-item">
        
        <div class="list-item-actions">
            <div class="list-item-action" data-bind="click: $root.editTile"><img src="~/Content/imgs/edit.png"/></div>
            <div class="list-item-action" data-bind="click: $root.deleteTile"><img src="~/Content/imgs/delete.png"/></div>
        </div>
    </div>
    <!-- /ko -->

    <div class="list-item list-item-add" data-bind="click: addNewTile">
        <div><img src="~/Content/imgs/add.png"/></div>

    </div>
</div>