<html>
    
    <head>
        <title>@ViewBag.Title</title>
        
        <link type="text/css" rel="stylesheet" href="~/Content/Site.css"/>

    </head>
    
    
    <body>
        
        <div id="header">
            <h1 id="title">Comic Tale</h1>
        </div>
        <div id="toolbar"></div>
        <div id="content">
        @RenderBody()
        </div>
        <div id="footer"></div>
    </body>
</html>